h1{
  text-align: center;
  font-family: 'Laila', serif;
}

.art{
    margin: auto;
}

td{
  height: 200px;
  width: 100px;
  padding: inherit;
  border: 6px solid white;
}

#one{
  background-color: #6CC72C
}

#two{
  background-color: #FFE8D1
}

#three{
  background-color: #F9DC5C
}

#four{
  background-color: #EA0F30
}

#five{
  background-color: #826251
}
